.catalogPage {
  &__header {
    display: flex;
    gap: 30px;
    align-items: baseline;
  }

  &__main {
    margin-top: 20px;
  }

  &__title {
    font-weight: var(--w700);
    font-size: var(--px32);
  }

  &__catalog {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    gap: 50px 35px;
  }
}