.cartPage {
  min-height: 700px;
  display: flex;
  align-items: center;
  justify-content: center;

  &__wrapper {
    width: 820px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
  }

  &__header {
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: baseline;
  }

  &__title {
    margin-bottom: 10px;
  }

  &__description {
    width: 570px;
    text-align: center;
    font-size: var(--px18);
    font-weight: var(--400);
  }

  &__photo {
    margin: 30px 0 50px;
    width: 300px;
    height: 255px;
  }

  &__footer {
    width: 100%;
    margin-top: 20px;
    display: flex;
    justify-content: space-between;
  }

  &__cancel, &__submit {
    display: flex;
    flex-direction: column;
    gap: 40px;
  }

  &__submit {
    align-items: flex-end;
  }

  &__summary {
    white-space: nowrap;
    font-size: var(--px22);
    font-weight: var(--400);
  }

  &__count {
    font-weight: var(--w700);
  }
}