.layout {
  &__wrapper {
    margin: 45px;
    background-color: var(--white);
    border-radius: 10px;
    box-shadow: 0 15px 20px rgba(0, 0, 0, 0.03);
  }

  &__header {
    padding: 40px 80px;
    border-bottom: 1px solid var(--gray-line);
    display: flex;
    justify-content: space-between;
  }

  &__title {
    font-weight: var(--w800);
    font-size: var(--px24);
  }

  &__subtitle {
    font-weight: var(--w400);
    font-size: var(--px16);
  }

  &__main {
    padding: 40px 60px;
  }
}