.cartCard {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 30px 0;
  border-top: 1px solid var(--gray-line);
  width: 820px;
  height: 140px;


  &__info {
    display: flex;
    gap: 15px;
    align-items: center;
  }

  &__photo {
    width: 80px;
    height: 80px;
  }

  &__icon {
    margin: 0 -7px;
    width: 20px;
    height: 20px;
  }

  &__name, &__count {
    font-size: var(--px22);
    font-weight: var(--w700);
  }

  &__calculator {
    width: 380px;
    display: flex;
    align-items: center;
    justify-content: space-between;
  }

  &__counter {
    width: 130px;
    display: flex;
    justify-content: space-between;
    align-items: center;
  }

  &__description {
    font-size: var(--px18);
    font-weight: var(--w400);
    opacity: 0.6;
  }
}